global_args:
  base_model: "Qwen/Qwen2.5-VL-3B-Instruct"
  output_dir: "./ckpt/Instruments/Qwen2.5-VL-3B-Instruct-finetune-seqrec-qwen7B-with-id-0.1"
  debug: true
  seed: 42

dataset_args:
  data_path: ./data
  dataset: Instruments
  tasks: "seqrec"
  # 对应 tasks, 为每个任务采样多少种 prompt
  train_prompt_sample_num: "1"
  # 对应 tasks, 为每个任务采样多少条数据, 0 表示全部使用
  train_data_sample_num: "0"
  index_file: ".index_qwen7B.json"
  only_train_response: true
  ratio_dataset: 0.1

train_args:
  # --- 训练核心参数 ---
  epochs: 4
  per_device_batch_size: 32
  gradient_accumulation_steps: 2
  # learning_rate: 1e-4
  weight_decay: 0.01
  save_and_eval_strategy: "epoch"
  bf16: true
  use_lora: true
  device: "cuda"
